<div class="header">
	<h1>{{issuer.description}}</h1>
	<h2>{{issuer.address}} {{issuer.zipCode}} {{issuer.city}}</h2>

	{{#if sameCfAndVat}}
	<h2>Codice Fiscale e Partita IVA {{issuer.vatCode}}</h2>
	{{else}}
		{{#if issuer.cfCode}}
		<h2>Codice Fiscale {{issuer.cfCode}}</h2>
		{{/if}}
		{{#if issuer.vatCode}}
		<h2>Partita IVA {{issuer.vatCode}}</h2>
		{{/if}}
	{{/if}}

	{{#if hasReaCodeAndStock}}
	<h2>Registro delle imprese di Firenze n. {{issuer.reaCode}}, capitale sociale {{issuer.stock}}</h2>
	{{else}}
		{{#if issuer.reaCode}}
		<h2>Registro delle imprese di Firenze n. {{issuer.reaCode}}</h2>
		{{/if}}
		{{#if issuer.stock}}
		<h2>Capitale sociale {{issuer.stock}}</h2>
		{{/if}}
	{{/if}}

</div>

<div class="fullwidth">
	<div class="address">
		<p>Spett.le {{addressee.description}}</p>
		<p>{{addressee.address1}}</p>
		{{#if addressee.address2}}
		<p>{{addressee.address2}}</p>
		{{/if}}
		<p>{{addressee.zipCode}} {{addressee.city}}</p>
		{{#if addressee.country}}
		<p>{{addressee.country}}</p>
		{{/if}}
		<p>
		{{#if addressee.cfCode}}
		<p>CF: {{addressee.cfCode}}</p>
		{{/if}}
		{{#if addressee.vatCode}}
		<p>PI: {{addressee.vatCode}}</p>
		{{/if}}
	</div>
</div>

<div class="invoice-data">
	<div class="left">
		{{#if isInvoice}}
		<p>Fattura n. {{number}}</p>
		{{/if}}
		{{#if isCreditNote}}
		<p>Nota di credito n. {{number}}</p>
		{{/if}}
	</div>
	<div class="right">
		<p>del {{formattedDate}}</p>
	</div>
</div>

<div class="register-data">
	<div class="left">
		<p>Scontrino fiscale n. {{receipt.number}} del {{formattedReceiptDate}}</p>
	</div>
	<div class="right">
		<p>Ricevitore fiscale {{receipt.cashRegister.model}} matr. {{receipt.cashRegister.serial}}</p>
	</div>
</div>

<div class="detail">
	<table>
		<tr>
			<th>DESCRIZIONE</th>
			<th>UM</th>
			<th>QUANTITA'</th>
			<th>PREZZO UNITARIO (€)</th>
			<th>IMPORTO (€)</th>
			<th>IVA (%)</th>
		</tr>
		<tr>
			<td>Articoli vari</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		{{#each rows}}
		<tr>
			<td>Pos. {{position}} - {{description}}</td>
			<td class="right-align">{{uom}}</td>
			<td class="right-align">{{formatBig quantity}}</td>
			<td class="right-align">{{formatBig price}}</td>
			<td class="right-align">{{formatBig taxable}}</td>
			<td class="right-align">{{vatPercentage}}</td>
		</tr>
		{{/each}}
	</table>
	<table>
		<tr>
			<th>IMPONIBILE IVA (€)</th>
			<th>IMPORTO IVA (€)</th>
			<th>TOTALE FATTURA (€)</th>
		</tr>
		<tr>
			<td class="right-align">{{formatBig totals.taxable}}</td>
			<td class="right-align">{{formatBig totals.tax}}</td>
			<td class="right-align">{{formatBig totals.total}}</td>
		</tr>
	</table>
</div>

<div class="payment">
	<p>Pagamento: {{payment}}</p>
</div>
